body {
  margin-top: 80px;
}

nav li {
  display: block;
  width: 80px;
  float: left;
}
nav a {
  color: #fff; 
  background: #69e;
  display: block;
  line-height: 1.0;
  padding: 6px 0;
  border-left: 1px solid #fff;
  text-align: center;
  text-decoration: none;
}
