#contents {
  margin: 0 auto;
  width: 300px;
  border: 10px solid red;
}

#main {
  float: right;
  width: 200px;
  color: #fff;
  background: #fc0;	/* 黄色 */
}

#sub {
  float: left;
  width: 100px;
  color: #fff;
  background: #390;	/* 緑 */
}
